h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

body {
    background-color: aliceblue;
}

#nav-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-height: 30vh;
    width: auto;
}